<div class="flex flex-col items-center text-center">
    <div class="size-70 rounded-full overflow-hidden border border-gray-700 ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10">
        <img src="{{ .Site.Params.profileImgSrc }}" alt="Profile" class="object-cover w-full h-full" />
    </div>
    <div class="pt-4 w-full">
        <div class="flex flex-col items-start text-left pl-4">
            <h2 class="font-bold text-2xl text-white select-none">{{ .Site.Params.author }}</h2>
            <p class="text-xl text-gray-400 font-light select-none">{{ .Site.Params.username }}</p>
            <p class="text-sm text-white font-extralight pt-5 select-none">{{ .Site.Params.quote }}</p>
             <p class="text-sm text-gray-300 font-extralight pt-5 select-none"><i class="bi bi-geo-alt"></i> {{ .Site.Params.location }}</p>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950 select-none">Socials</span>
            </div>
            <div class="flex flex-row gap-3 text-gray-300 text-3xl">
                {{ range .Site.Params.socials }}
                    <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}" class="flex justify-center items-center hover:text-blue-400">
                    <i class="{{ .icon }}"></i>
                    </a>
                {{ end }}
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950 select-none">Email</span>
            </div>
            <div class="text-gray-300 select-none">
                {{ range .Site.Params.emails }}
                    <a href="mailto:{{ . }}" class="hover:underline hover:text-blue-400 flex justify-start items-start">
                        <i class="bi bi-envelope"></i> &nbsp; {{ . }}
                    </a>
                {{ end }}
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950">CV</span>
            </div>
            <div class="flex flex-row gap-3 text-gray-300 text-3xl">
                <a href="{{ .Site.Params.cvSrc }}" download class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-file-earmark-person"></i>
                </a>
            </div>          
            
        </div>
    </div>
</div>