<div class="flex flex-col items-center text-center">
    <div class="size-70 rounded-full overflow-hidden border border-gray-700 ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10">
        <img src="/yhwach.jpg" alt="Profile" class="object-cover w-full h-full" />
    </div>
    <div class="pt-4 w-full">
        <div class="flex flex-col items-start text-left pl-4">
            <h2 class="font-bold text-2xl text-white">Harry Sharma</h2>
            <p class="text-xl text-gray-400 font-light">harrysharma1</p>
            <p class="text-sm text-white font-extralight pt-5">Job market is cooked, and so am I.</p>
             <p class="text-sm text-gray-300 font-extralight pt-5"><i class="bi bi-geo-alt"></i> Northampton, England</p>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950">Socials</span>
            </div>
            <div class="flex flex-row gap-3 text-gray-300 text-3xl">
                <a href="https://www.linkedin.com/in/harry-sharma-567b21225" target="blank" class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.pinterest.com/harrysharma1066" target="blank" class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-pinterest"></i> 
                </a>
                <a href="https://www.goodreads.com/user/show/184799979-harry" target="blank" class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-book"></i>
                </a>
                <a href="https://substack.com/@harrysharma1?utm_campaign=profile&utm_medium=profile-page" target="_blank" class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-substack"></i>
                </a>
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950">Email</span>
            </div>
            <div class="text-gray-300">
                <a href="mailto:harrysharma1066@gmail.com" class="hover:underline hover:text-blue-400 flex justify-start items-start">
                    <i class="bi bi-envelope"></i> &nbsp; harrysharma1066@gmail.com
                </a>
                <a href="mailto:inquiry@harrysharma.co.uk" class="hover:underline hover:text-blue-400 flex justify-start items-start">
                    <i class="bi bi-envelope"></i> &nbsp; inquiry@harrysharma.co.uk
                </a>
            </div>
            <div class="inline-flex items-center justify-center w-full">
                <hr class="w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700">
                <span class="absolute px-3 font-medium text-gray-300 -translate-x-1/2 bg-gray-950 left-1/2 dark:text-white dark:bg-gray-950">CV</span>
            </div>
            <div class="flex flex-row gap-3 text-gray-300 text-3xl">
                <a href="/harry_cv.pdf" download class="flex justify-center items-center hover:text-blue-400">
                    <i class="bi bi-file-earmark-person"></i>
                </a>
            </div>          
            
        </div>
    </div>
</div>