<div class="flex flex-col items-center text-center">
    <div class="size-70 rounded-full overflow-hidden border border-gray-700 ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10">
        <img src="/yhwach.jpg" alt="Profile" class="object-cover w-full h-full" />
    </div>
    <div class="pt-4 w-full">
        <div class="flex flex-col items-start text-left pl-4">
            <h2 class="font-bold text-2xl text-white">Harry Sharma</h2>
        <p class="text-xl text-gray-300">harrysharma1</p>
        </div>
    </div>
</div>