{{ define "main" }}
<div class="max-w-[900px] mx-auto">
  {{ $readme := readFile "/assets/harrysharma1/README.md" }}
  <div class="border border-gray-700 p-5 rounded-md">
    <p class="font-mono text-gray-400 mb-3 select-none">harrysharma1/README.md</p>
    <hr class="h-px my-6 bg-gray-700 border-0">
    <div class="prose prose-invert max-w-none">
      {{ $readme | markdownify | safeHTML }}
    </div>
  </div>
  <div class="pt-5"></div>
  <div class="border border-gray-700 p-5 rounded-md flex flex-col gap-2 select-none">
   <div id="contributionYear" class="text-white text-lg"></div>
   <div class="text-gray-300 overflow-auto" id="cal-heatmap"></div> 
   <div class="md:ml-[560px]">
    <div class="flex flex-row justify-center items-center gap-2">
      <span class="text-xs text-gray-400">Less</span>
      <div id="ex-ghDay-legend"></div>
      <span class="text-xs text-gray-400">More</span> 
    </div> 
   </div>
  </div>
</div>
{{ end }}
