{{ define "main" }}
<div class="flex flex-col max-w-[900px] mx-auto">
  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $paginator := .Paginate $pages.ByDate.Reverse 7 }}

  {{ range $paginator.Pages }}
  <div class="border-b border-gray-700 py-8">
    <a href="{{ .RelPermalink }}" class="text-blue-400 text-2xl hover:underline">
      {{ .LinkTitle }}
    </a>
    <div class="flex flex-wrap gap-4 text-xs mt-2 text-gray-400">
      {{ with .Params.tags }}
      <ul class="flex gap-2 flex-wrap">
        {{ range . }}
        <li class="hover:text-blue-400">
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="bi bi-tag"></i>{{ . }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
        <span>Created {{ .Date | time.Format ":date_medium" }} </span>
    </div>
  </div>
  {{ end }}

  <div class="flex justify-center items-center p-10">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
