{{ define "main" }}
  <div class="flex flex-col max-w-[900px] mx-auto">
  {{ $pages := .Pages }}
  {{ $paginator := .Paginate $pages.ByDate.Reverse 7 }}

  <ul>
  {{ range .Data.Terms }}
  <div class="border-b border-gray-700 py-8">
      <li>
        <a href="{{ .Page.Permalink }}" class="text-blue-400 text-2xl hover:underline">{{ .Page.Title }}</a>
        <p class="text-gray-400 select-none">{{ .Count }} {{ if eq .Count 1 }} item {{ else }} items {{ end }}</p>
      </li> 
  </div>
  {{ end }}
  </ul>
  <div class="flex justify-center items-center p-10">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
